{
  "4.11.0.1": {
    "type": "catalogRender",
    "schema": 1,
    "eval": {
      "version": "4.11.0.1",
      "pname": "kconfig-frontends",
      "name": "kconfig-frontends-4.11.0.1",
      "system": "aarch64-linux",
      "outputs": {
        "out": "/nix/store/vx72vfqqy7g46m4qdd3xws7yiw7dfvkm-kconfig-frontends-4.11.0.1"
      },
      "meta": {
        "outputsToInstall": [
          "out"
        ],
        "description": "Out of Linux tree packaging of the kconfig infrastructure",
        "position": "/nix/store/lbf0kbc67zpm6xw6lia2fj1qskikaffz-source/pkgs/development/tools/misc/kconfig-frontends/default.nix:24",
        "unfree": false
      }
    },
    "element": {
      "attrPath": [
        "legacyPackages",
        "aarch64-linux",
        "kconfig-frontends"
      ],
      "originalUrl": "flake:nixpkgs",
      "outputs": null,
      "storePaths": [
        "/nix/store/vx72vfqqy7g46m4qdd3xws7yiw7dfvkm-kconfig-frontends-4.11.0.1"
      ],
      "url": "github:flox/nixpkgs/d6490a0bd9dfb298fcd8382d3363b86870dc7340"
    },
    "source": {
      "locked": {
        "revCount": 410349,
        "lastModified": 1663761423
      }
    }
  }
}
