{
  "4.11.0.1": {
    "type": "catalogRender",
    "schema": 1,
    "eval": {
      "version": "4.11.0.1",
      "pname": "kconfig-frontends",
      "name": "kconfig-frontends-4.11.0.1",
      "system": "x86_64-darwin",
      "outputs": {
        "out": "/nix/store/nadpa9x0dbbnfqgim7y3rasvhf9hfz2x-kconfig-frontends-4.11.0.1"
      },
      "meta": {
        "outputsToInstall": [
          "out"
        ],
        "description": "Out of Linux tree packaging of the kconfig infrastructure",
        "position": "/nix/store/5g0bnn21bqpd241da9yyivjkcfy0ra1w-source/pkgs/development/tools/misc/kconfig-frontends/default.nix:24",
        "unfree": false
      }
    },
    "element": {
      "attrPath": [
        "legacyPackages",
        "x86_64-darwin",
        "kconfig-frontends"
      ],
      "originalUrl": "flake:nixpkgs",
      "outputs": null,
      "storePaths": [
        "/nix/store/nadpa9x0dbbnfqgim7y3rasvhf9hfz2x-kconfig-frontends-4.11.0.1"
      ],
      "url": "github:flox/nixpkgs/e0169d7a9d324afebf5679551407756c77af8930"
    },
    "source": {
      "locked": {
        "revCount": 384129,
        "lastModified": 1654682581
      }
    }
  }
}
