{
  "4.11.0.1": {
    "type": "catalogRender",
    "schema": 1,
    "eval": {
      "version": "4.11.0.1",
      "pname": "kconfig-frontends",
      "name": "kconfig-frontends-4.11.0.1",
      "system": "aarch64-darwin",
      "outputs": {
        "out": "/nix/store/4f3q8fhb4ivfcxmx30ycw9gilc8nqgz3-kconfig-frontends-4.11.0.1"
      },
      "meta": {
        "outputsToInstall": [
          "out"
        ],
        "description": "Out of Linux tree packaging of the kconfig infrastructure",
        "position": "/nix/store/5g0bnn21bqpd241da9yyivjkcfy0ra1w-source/pkgs/development/tools/misc/kconfig-frontends/default.nix:24",
        "unfree": false
      }
    },
    "element": {
      "attrPath": "legacyPackages.aarch64-darwin.staging.kconfig-frontends",
      "originalUrl": "flake:floxpkgs",
      "outputs": null,
      "storePaths": [
        "/nix/store/4f3q8fhb4ivfcxmx30ycw9gilc8nqgz3-kconfig-frontends-4.11.0.1"
      ],
      "url": "github:flox/floxpkgs/e0169d7a9d324afebf5679551407756c77af8930"
    },
    "source": {
      "locked": {
        "revCount": 384129,
        "lastModified": 1654682581
      }
    }
  }
}
