{
  "4.11.0.1": {
    "type": "catalogRender",
    "schema": 1,
    "eval": {
      "version": "4.11.0.1",
      "pname": "kconfig-frontends",
      "name": "kconfig-frontends-4.11.0.1",
      "system": "x86_64-darwin",
      "outputs": {
        "out": "/nix/store/n5gkni2l8hq8b19s40mr192q8qp5vq1j-kconfig-frontends-4.11.0.1"
      },
      "meta": {
        "outputsToInstall": [
          "out"
        ],
        "description": "Out of Linux tree packaging of the kconfig infrastructure",
        "position": "/nix/store/a3i6cnnswvdg4k38jmibnjms65rjvyi7-source/pkgs/development/tools/misc/kconfig-frontends/default.nix:24",
        "unfree": false
      }
    },
    "element": {
      "attrPath": "legacyPackages.x86_64-darwin.stable.kconfig-frontends",
      "originalUrl": "flake:floxpkgs",
      "outputs": null,
      "storePaths": [
        "/nix/store/n5gkni2l8hq8b19s40mr192q8qp5vq1j-kconfig-frontends-4.11.0.1"
      ],
      "url": "github:flox/floxpkgs/dfd82985c273aac6eced03625f454b334daae2e8"
    },
    "source": {
      "locked": {
        "revCount": 379159,
        "lastModified": 1653060744
      }
    }
  }
}
